:root {
  font-family:  Helvetica, Arial, sans-serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4f2f2;


}







.user-input{
  width:300px;
  height: 300px;
  color: white;
  border-radius: 10px;
  
}
.title{
  color: #20BF50;
  font-size: 50px;
  
}

.motto{
  color:black;
  font-size: 20px;
}